/* 焦点图
制作团队：闫仲萧 白文达 刘博 孟令晨
*/



.banner{
  padding-top: 300px;
  padding-bottom: 90px;
  background-image: url(../img/banner.png);
  background-size: 100% 100%;
  color:#fff;
  h2{
    font-size: 35px;
    color:#fff;
    margin-bottom: 15px;
  }
  p{
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  section.banner{
    padding-top: 60px;
    padding-bottom: 25px;
    .container {
      padding: 0;
    }
  }
}
@media (max-width: 960px) {
  section.banner{
    padding-top: 160px;
    padding-bottom: 25px;
  }
}
@media (max-width: 430px) {
  section.banner{
    padding-top: 0;
    padding-bottom: 25px;
    .container {
      padding-left: 15px;
    }
  }
}