html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-image: url("../img/bj.png");
    width: 100%;
}

.swiper-button-next{
    position: absolute;
    top: auto;
    bottom:5%;
    left:auto;
    right:47%;
    transform: rotateZ(-90deg);
}
/*音乐*/
#mp3btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border: 3px solid rgba(76, 76, 76, 0.62);
    transform: rotateZ(0deg);
    animation: mp3btnkey 2.5s linear infinite;
}
@keyframes mp3btnkey {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
#mp3btn img {
    width: 10px;
}
/*s1星球*/
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
    transform: rotate(45deg);
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;

}
.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 190px;
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    right: 50px;
    margin-right: 6px;
    bottom: 33%;
    animation: pulse infinite;
}
.s1 .main img:nth-of-type(1){
    width: 44%;
    position: absolute;
    margin-left: 104px;
    top: 218px;
    display: block;
}
.s1 .main img:nth-of-type(2){
    width: 86%;
    position: absolute;
    margin-left: 24px;
    top: 274px;
    display: block;
}
.s1 .main .img9{
    background: url(../img/9.png);
    background-size: cover;
    width: 56%;
    position: absolute;
    top: 357px;
    margin-left: 83px;
    font-family: cursive;
    font-weight: bold;
    line-height: 23px;
}
.footer{
    padding-top:125%;
}
.s1 .footer p{
    color: #00f5b7;
    font-weight:bold;
}
.footer img{
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
}
@keyframes footerb
{
    0%{bottom:-100px;}
    100%{bottom:0;}
}
.footer img:nth-of-type(2){
    left:14%;
    animation: myfirst 1.5s infinite;
}
.swiper-button-next{
    bottom: 0;
    animation: buttonext 1.5s infinite;
}
@keyframes buttonext
{
    0%{top: auto;}
    100%{
        top: 594px;
        opacity:0;
    }
}
@keyframes myfirst
{
    40%{left:18%;}
    80%{left:10%;}
}
.s2,.s3,.s4,.s5,.s6,.s7,.s8 {
    color: #00f5b7;
}
.s2 img{
    width: 90%;
}
.s2 h2::before,
.s3 h2::before,
.s4 h2::before,
.s5 h2::before,
.s6 h2::before,
.s7 h2::before,
.s8 h2::before{
    background: url(../img/14.png);
    background-size: cover;
    left: 45px;
    top: 33px;
}
.s2 h2::after,
.s3 h2::after,
.s4 h2::after,
.s5 h2::after,
.s6 h2::after,
.s7 h2::after,
.s8 h2::after{
    background: url(../img/13.png);
    background-size: cover;
    right: 45px;
    top: 33px;
}
.s2 h2::before, .s2 h2::after,
.s3 h2::before, .s3 h2::after,
.s4 h2::before, .s4 h2::after,
.s5 h2::before, .s5 h2::after,
.s6 h2::before, .s6 h2::after,
.s7 h2::before, .s7 h2::after,
.s8 h2::before, .s8 h2::after{
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 .main{
    position: relative;
}
.s2 .main .text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 14px;
}
.s2 span{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    background: -moz-linear-gradient(left, #00e7f7, #00fc9f);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00e7f7), to(#00fc9f));
    background: -webkit-linear-gradient(left, #00e7f7, #00fc9f);
    background: -o-linear-gradient(left, #00e7f7, #00fc9f);
    color: #000;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
}
.s3 .main .pic1 img,
.s3 .main .pic2 img,
.s3 .main .pic3 img,
.s3 .main .pic5 img,
.s3 .main .pic6 img,
.s3 .main .pic7 img{
    width: 50%;
    animation: rubberBand infinite;
}
.s3 .main .pic1{
     left: 20%;
     top: 23%;
    position: absolute;
 }
.s3 .main .pic2{
    right: 20%;
    top: 23%;
    position: absolute;
}
.s3 .main .pic3{
    left: 2%;
    top: 40%;
    position: absolute;
}
.s3 .main .pic4{
    margin-top: 37%;
}
.s3 .main .pic4 img{
    animation: pulse infinite;
}
.s3 .main .pic5{
    right: 2%;
    top: 40%;
    position: absolute;
}
.s3 .main .pic6{
    left: 20%;
    top: 60%;
    position: absolute;
}
.s3 .main .pic7{
    right: 20%;
    top: 60%;
    position: absolute;
}
.s3 .main p{
    margin-top: -46px;
}
.s3 .main .pic4 p{
    margin-top: -81px;
    font-weight: bold;
    font-family: 黑体;
    font-size: 27px;
}
.s3 .main .text p:nth-of-type(1){
    margin-top: 53%;
}
.s3 .main .text p:nth-of-type(2){
    margin-top: 0;
}
.s4 .main{
    background: url("../img/16.png");
    background-size: cover;
    width: 94%;
    margin-left: 12px;
}
.s4 .main .tit h3{
    display: inline-block;
}
.s4 .main .tit h3 img{
    width: 23%;
    display: inline-block;
}
.s4 .main .tit h3 span{
    display: inline-block;
}
.s4 .main .main-container{
    text-align: left;
    padding-left: 15px;
}
.s4 .main .span1{
    width: 15px;
    height: 15px;
    background: url("../img/19.png");
    background-size: cover;
    display: inline-block;
    margin-right: 8px;
}
.s4 .main-container p{
    margin-top: 0;
    margin-bottom: 0;
}
.s4 .main-container .pin1,.s4 .main-container .pin2{
    margin-bottom: 15px;
}
.s4 .main-container .pin1 .p2 img{
    height: 10px;
    width: 82%;
}
.s4 .main-container .pin1 .p3 img{
    height: 10px;
    width: 41%;
}
.s4 .main-container .pin2 .p2 img{
    height: 10px;
    width: 75%;
}
.s4 .main-container .pin2 .p3 img{
    height: 10px;
    width: 39%;
}
.s4 .main-container .pin3 .p2 img{
    height: 10px;
    width: 72%;
}
.s4 .main-container .pin3 .p3 img{
    height: 10px;
    width: 36%;
}
.s4 .main-container .p2 span,.s4 .main-container .p3 span{
    display: inline-block;
}
.s4 .main-container .main-text{
    text-align: center;
    padding-top: 11%;
    padding-bottom: 12%;
}