html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-image: url("../img/bj.png");
    width: 100%;
}

.swiper-button-next{
    position: absolute;
    top: auto;
    bottom:5%;
    left:auto;
    right:47%;
    transform: rotateZ(-90deg);
}
/*音乐*/
#mp3btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border: 3px solid rgba(76, 76, 76, 0.62);
    transform: rotateZ(0deg);
    animation: mp3btnkey 2.5s linear infinite;
}
@keyframes mp3btnkey {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
#mp3btn img {
    width: 10px;
}
/*s1星球*/
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
    transform: rotate(45deg);
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;

}
.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 190px;
    transform-origin:50% 50%;/*定义动画的旋转中心点*/
    animation-iteration-count:infinite;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    right: 50px;
    margin-right: 6px;
    bottom: 33%;
    animation: pulse infinite;
}
.s1 .main img:nth-of-type(1){
    width: 44%;
    position: absolute;
    margin-left: 104px;
    top: 218px;
    display: block;
}
.s1 .main img:nth-of-type(2){
    width: 86%;
    position: absolute;
    margin-left: 24px;
    top: 274px;
    display: block;
}
.s1 .main .img9{
    background: url(../img/9.png);
    background-size: cover;
    width: 56%;
    position: absolute;
    top: 357px;
    margin-left: 83px;
    font-family: cursive;
    font-weight: bold;
    line-height: 23px;
}
.footer{
    padding-top:125%;
}
.s1 .footer p{
    color: #00f5b7;
    font-weight:bold;
}
.footer img{
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
}
@keyframes footerb
{
    0%{bottom:-100px;}
    100%{bottom:0;}
}
.footer img:nth-of-type(2){
    left:14%;
    animation: myfirst 1.5s infinite;
}
.swiper-button-next{
    bottom: 0;
    animation: buttonext 1.5s infinite;
}
@keyframes buttonext
{
    0%{top: auto;}
    100%{
        top: 594px;
        opacity:0;
    }
}
@keyframes myfirst
{
    40%{left:18%;}
    80%{left:10%;}
}
.s2{
    color: #00f5b7;
}
.s2 img{
    width: 90%;
}
.s2 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 45px;
    top: 33px;
}
.s2 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 45px;
    top: 33px;
}
.s2 h2::before, .s2 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 .main{
    position: relative;
}
.s2 .main .text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 14px;
}
.s2 span{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    background: -moz-linear-gradient(left, #00e7f7, #00fc9f);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00e7f7), to(#00fc9f));
    background: -webkit-linear-gradient(left, #00e7f7, #00fc9f);
    background: -o-linear-gradient(left, #00e7f7, #00fc9f);
    color: #000;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
}