*{
	padding: 0;
	margin: 0;
}
#container{
	width: 1322px;
	overflow: hidden;
	margin: 0 auto;
	

}
header,.main,footer,.banner{
	width: 982px;
	
	overflow: hidden;
	margin: 0 auto;

}
.logo-left{
	width: 184px;
	float: left;
}
h1{
	display: none;
}
.logo-right{
	width: 230px;
	float: right;
	margin-top: 18px;
}
.text{
	width: 159px;
	height: 18px;
	border-radius: 1px;
	border:solid 1px #b0b1b3;
}
.anniu{
	width: 57px;
	height: 20px;
	font-size: 12px;
	color: #020200;
	border:solid 1px #6e6e6e;
	background-image: url(images/anniubg.png);
}
.main-top,.main-center,.main-bottom{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;

}
.mt-2,.mt-3,.mt-4{
	width: 225px;
	margin-left: 25.6px;
	float: left;
}
.mt-1{
	width: 228px;
	float: left;

}
.main-top .mt-1 ul li{
	width: 222px;
	list-style: none;
	margin-bottom: 5px;
	background-image: url(images/libg.png);
	padding: 12px 0px 9px 5px;
	font-size: 15px;
	color: #fff;
}
.mtt{
	width: 223px;
	height: 51px;
	float: left;
	background-image: url(images/mtbg.png);
	font-size: 18px;
	color: #19549a;
	line-height: 50px;
	text-indent: 4px;
}
.main-top ul li{
	list-style: none;


}
.main-top u{
	font-size: 16px;
	color: #0f5591;
}
.main-top ul li img{
	background-position: left;
	margin-right: 5px;
	margin-top: 5px;

}
.in{
	text-indent: 14px;
}
.mt-4{
	line-height: 13px;
}
.mt-4 p{
	font-size: 10px;
}
.main-center span{
	margin-left: 400px;
}
.mb-1,.mb-2{
	width: 220px;
	height: 220px;
	float: left;

}
.mb-2{
	margin-left: 30px;
}
.mb-3,.mb-4{
	width: 210px;
	height: 110px;
	float: right;

}
.main-bottom img{ 
	float: right;
	margin-top: 40px;
}
.main-bottom span{
	color: #8aa348;
	font-size: 19px;
}
.main-bottom ul li{
	color: #236190;
	list-style: none;
	font-size: 13px;
	line-height: 19px;
	
}
.main-bottom ul li img{
	margin-left: 30px;
	float: left;
	margin-top: 5px;
}
.ind{
	margin-left: 40px;
}
.mb-2{
	margin-left: 45px;
}
.mb-4{
	margin-right: 65px;
}
.footer-top ul li:nth-child(1){
			border: none;
		}

.footer-top,.footer-bottom{
	margin: 0;
}
.footer-top{
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	padding: 8px 0px 10px 0px;
	overflow: hidden;
}

.footer-top ul li{
	float: left;
	list-style: none;
	border-left: solid 1px #000; 
	padding: 2px 5px 2px 5px;
	
}
.footer-top ul li a{
	color: #2e6395;
	font-size: 13px;
}
.footer-top ul{
	margin: 5px 0 5px 5px;
}
.footer-bottom u{
	color: #2e6395;
}
.footer-bottom p{
	font-size: 13px;
	color: #000;

}
.footer-bottom{
	padding-top: 10px;
}