@charset "utf-8";
/*----通用样式---*/
body,ul,li,p,h1{
	padding:0px;
	margin:0px;
	}
.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
	clear:both;
	}
.header,.footer,.containt{
	width:971px;
	margin:0 auto;
	}
/*----通用样式---*/
/*----header样式---*/
/*----logo样式---*/
.header{
	height:580px;
	padding-top:71px;
	}
.header-inner{
	border-bottom:2px #2a2a2a solid;
	background:url(images/header-inner_bg_02.gif);
	}
.logo{
	float:left;
	margin-left:46px;
	width:193px;
	height:56px;
	background:url(images/logo.png) no-repeat;
	padding:21px 0px 0px 22px;
	}
.real,.estate{
	font-family:Calibri;
	font-size:36px;
	font-style:italic;
	}
.real{
	color:#FFF;
	}
.estate{
	color:#c3c3c3;
	}
/*----logo样式---*/
/*----nav样式---*/
.nav ul{
	padding-top:26px;
}
.nav{
	float:left;
	margin-left: 129px;
	margin-bottom: 32px;
	}
.nav li{
	text-align:center;
	float:left;
	color:#FFF;
	list-style:none;
	width:80px;
	height:31px;
	font-size:16px;
	font-family:"Simplified Arabic";
	line-height:193.75%;
	border-radius:4px;
	}
.nav a{
	text-decoration:none;
	}
.nav-btn1{
	background:url(images/nav_btn_bg_04.gif);
	}
.nav a:hover li{
	background: url(images/nav_btn_bg_04.gif);
}
/*----nav样式---*/
/*----banner样式---*/
.banner-inner{
	width:960px;
	height:398px;
	background-color:#323232;
	margin-top:88px;
}
.banner,.navbar{
	float:left;
}
.banner{
	width:571px;
	height:398px;
	border-radius:5px;
	box-shadow: 0 0 0 10px #dc3200;
	background: url(images/big-img1.jpg);
}
.banner img{
	margin-left:475px;
	margin-top: 299px;
}
.navbar{
	margin-left: 10px;
	width:378px;
	height:398px;
}
.navbar li{
	width:74px;
	font-size:14px;
	color: #777f7f;
	font-family:"Miriam";
	line-height: 200%;
	list-style: none;
}
.navbar1{
	height:114px;
	margin-top: 26px;
	background-color:#1d1d1d;
}
.navbar img{
	float: left;
	margin-left:24px;
	padding-top:16px;
	padding-bottom: 13px;
}
.navbar ul{
	padding-top:18px;
	float: left;
	padding-left: 27px;
	padding-bottom: 11px;
}
.navbar1 li{
	color:#FFFFFF;
}
.navbar1 img ,.navbar1 ul,.navbar2 img ,.navbar2 ul{
	border-bottom:1px #4b4b4b dashed;
}
/*----banner样式---*/
/*----header样式---*/
/*---containt样式---*/
.containt-inner{
	padding-top: 27px;
	height:828px;
	background:#121212;
}
.main{
	padding-top: 23px;
	width:678px;
	float:left;
}
.main h1{
	font-family:Calibri;
	font-style:italic;
	color:#FFFFFF;
	font-weight:500;
}
.main p{
	padding-top: 20px;
	width:586px;
	font-size:14px;
	line-height: 114.28571428%;
	font-family:Gautami;
	color:#c0c0c0;
}
.main-top{
	width:600px;
}
.p-center{
	color:#616161;
}
.btn{
	margin-top: 21px;
	text-align: center;
	font-size: 14px;
	width:93px;
	height:35px;
	line-height: 250%;
	color:#FFFFFF;
	background: url(images/main-btn_bg_17.gif);
	border-radius: 4px;
}
.main-top{
	border-bottom: 1px #616161 dashed;
	padding-bottom: 32px;
}
.main-bottom{
	padding-top: 38px;
}
.img{
	padding-top: 8px;

}
.img img{
	padding-top: 9px;
	margin-right: 9px;
}
/*----sidebar样式---*/
.sidebar{
	float: left;
}
.key{
	padding-top: 28px;
	float: left;
	width:282px;
	height:396px;
	font-family:Calibri;
	background: #b8cb3e;
	border-radius: 7px;
}
.sidebar li{
	list-style: none;
}
.key p{
	font-style: italic;
	width:247px;
	margin-left:21px;
	padding-bottom:21px;
	font-size: 30px;
	line-height: 116.666666667%;
	border-bottom: 1px #9aac2a double;
}
.key ul{
	padding-top: 26px;
}
.key li a{
	color:#000000;
}
.key li{
	padding-top: 5px;
	font-weight: -0.5px;
	margin-left:21px;
	font-size: 18px;
	line-height: 194.44444444%;
	font-family: Simplified Arabic;
}
.btn1 img{
	margin-right:18px;
}
.btn2 img{
	margin-right: 17px;
}
.btn3 img{
	margin-right: 15px;
}
.btn4 img{
	margin-right: 19px
}
.btn5 img{
	margin-right: 16px;
}
.find h1{
	padding-top:10px;
	color:#FFFFFF;
	font-family:Simplified Arabic;
	font-size:30px;
	font-style:italic;
}
.top-ul{
	padding-top: 29px;
}
.find li{
	float: left;
	margin-left: 15px;
	color:#FFFFFF;
	font-size: 16px;
	line-height: 143.75%;
	letter-spacing: -0.5px;
	font-family:"Miriam";
	list-style: url(images/list_style_22.gif);
}
.find li a {
	color:#FFFFFF;
	}
.left{
	width:90px;
	margin-right: 78px;
}
/*----sidebar样式---*/
/*---containt样式---*/
/*---footer样式---*/
.footer-inner{
	color:#616161;
	height:156px;
	background: #1d1d1d;
}
.footer ul{
	padding-top: 44px;
}
.footer li{
	height:14px;
	float: left;
	list-style: none;
	font-size: 14px;
	line-height:100%;
	font-family:Simplified Arabic;
}
.footer-btn1{
	text-align:left;
	width:46px;
}
.footer-btn2{
	text-align: center;
	width:70px;
}
.footer-btn3{
	text-align: right;
	width:75px;
}
.footer-btn2,.footer-btn3{
	border-left:1px #616161 solid;
}
.footer p{
	font-size: 14px;
	padding-top: 13px;
}
.footer a{
	color:#FFFFFF;
	text-decoration: none;
}
/*---footer样式---*/