/*!
 * shengbangshenghua
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Arial"; }

body p {
  font-size: 14px; }

a {
  text-decoration: none; }

.container {
  width: 1050px;
  margin: auto; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.row::after {
  display: table;
  clear: both;
  content: ""; }

.text-center {
  text-align: center; }

.col-4 {
  width: 33.333333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

header {
  border-top: 10px solid #f66958; }
  header nav {
    border-bottom: 1px solid #dee0df; }
    header nav::after {
      display: table;
      clear: both;
      content: ""; }
    header nav .logo {
      float: left;
      border-right: 1px solid #dee0df; }
      header nav .logo img {
        padding: 23px 30px;
        display: block; }
    header nav ul {
      float: left;
      list-style: none;
      border-left: 1px solid #dee0df;
      padding-left: 20px; }
      header nav ul::after {
        display: table;
        clear: both;
        content: ""; }
      header nav ul li {
        float: left; }
        header nav ul li a {
          color: #525252;
          font-size: 14px;
          padding: 30px 25px;
          display: inline-block; }
          header nav ul li a:hover {
            color: #f66958; }
  header .banner h1 {
    color: #525252;
    font-weight: 100;
    font-size: 42px;
    padding-top: 100px;
    padding-bottom: 40px; }
  header .banner h4 {
    color: #cbcbcb;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 80px; }

@media (max-width: 720px) {
  header nav .logo {
    border-right: 0;
    float: none;
    text-align: center; }
    header nav .logo a {
      display: inline-block; } }

.laravel {
  margin-bottom: 250px; }
  .laravel h3 {
    font-size: 14px;
    color: #f5736f;
    margin-bottom: 50px;
    text-align: center; }
  .laravel .scout {
    border: 2px solid #e5e5e5;
    padding: 30px; }
  .laravel .echo {
    border: 2px solid #e5e5e5;
    padding: 30px; }
  .laravel .passport {
    border: 2px solid #e5e5e5;
    padding: 30px; }
  .laravel h2 {
    color: #444444;
    font-weight: 100;
    padding-bottom: 40px;
    float: left; }
  .laravel img {
    float: right; }
  .laravel p {
    color: #5e5e5e;
    line-height: 1.5em;
    display: inline-block; }
  .laravel::after {
    display: table;
    clear: both;
    content: ""; }

@media (max-width: 960px) {
  .laravel h2 {
    font-size: 18px; }
  .laravel .echo, .laravel .passport, .laravel .scout {
    padding: 15px;
    height: 200px; } }

.ecosystem {
  margin-bottom: 70px; }
  .ecosystem .row::after {
    display: table;
    clear: both;
    content: ""; }
  .ecosystem h1 {
    color: #848484;
    font-weight: 100;
    font-size: 42px;
    margin-bottom: 30px; }
  .ecosystem h4 {
    color: #cbcbcb;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px; }
  .ecosystem .homestead .homestead-title {
    background-color: #f4645f;
    padding: 18px 30px; }
    .ecosystem .homestead .homestead-title::after {
      display: table;
      clear: both;
      content: ""; }
    .ecosystem .homestead .homestead-title h2 {
      color: #fff;
      font-weight: 100;
      float: left;
      padding-top: 5px; }
    .ecosystem .homestead .homestead-title img {
      float: right; }
  .ecosystem .homestead .homestead-text {
    background-color: #f5736f;
    padding: 30px; }
    .ecosystem .homestead .homestead-text p {
      color: #fff;
      line-height: 1.5em; }
  .ecosystem .laracasts .laracasts-title {
    background-color: #27b4a8;
    padding: 18px 30px; }
    .ecosystem .laracasts .laracasts-title::after {
      display: table;
      clear: both;
      content: ""; }
    .ecosystem .laracasts .laracasts-title h2 {
      color: #fff;
      font-weight: 100;
      float: left;
      padding-top: 5px; }
    .ecosystem .laracasts .laracasts-title img {
      float: right; }
  .ecosystem .laracasts .laracasts-text {
    background-color: #3cbbb1;
    padding: 30px; }
    .ecosystem .laracasts .laracasts-text p {
      color: #fff;
      line-height: 1.5em; }
  .ecosystem .cashier .cashier-title {
    background-color: #f4645f;
    padding: 18px 30px; }
    .ecosystem .cashier .cashier-title::after {
      display: table;
      clear: both;
      content: ""; }
    .ecosystem .cashier .cashier-title h2 {
      color: #fff;
      font-weight: 100;
      float: left;
      padding-top: 5px; }
    .ecosystem .cashier .cashier-title img {
      float: right; }
  .ecosystem .cashier .cashier-text {
    background-color: #f5736f;
    padding: 30px; }
    .ecosystem .cashier .cashier-text p {
      color: #fff;
      line-height: 1.5em; }

@media (max-width: 1200px) {
  .ecosystem .laracasts .laracasts-text p {
    height: 127px; } }

@media (max-width: 960px) {
  .ecosystem .cashier .cashier-title h2, .ecosystem .laracasts .laracasts-title h2, .ecosystem .homestead .homestead-title h2 {
    font-size: 18px; }
  .ecosystem .homestead .homestead-title, .ecosystem .laracasts .laracasts-title, .ecosystem .cashier .cashier-title {
    padding: 18px 25px; }
  .ecosystem .laracasts .laracasts-text p, .ecosystem .cashier .cashier-text p {
    height: 190px; } }

.more {
  margin-bottom: 80px; }
  .more h3 {
    font-size: 14px;
    color: #f5736f;
    margin-bottom: 50px; }
  .more .valet {
    padding-right: 20px;
    border-right: 2px solid #f0f1f3; }
  .more .elixir {
    padding-right: 20px;
    border-right: 2px solid #f0f1f3; }
  .more .lumen {
    padding-right: 20px; }
  .more h2 {
    font-size: 18px;
    color: #444444;
    font-weight: 100;
    margin-bottom: 10px; }
  .more p {
    font-size: 14px;
    color: #8e98a2;
    line-height: 1.5em; }
  .more p:nth-of-type(1) {
    margin-bottom: 30px; }

@media (max-width: 720px) {
  .more .valet {
    border-bottom: 2px solid #f0f1f3;
    border-right: 0;
    padding-bottom: 30px; }
  .more .elixir {
    border-bottom: 2px solid #f0f1f3;
    border-right: 0;
    padding-bottom: 30px; }
  .more .lumen {
    padding-bottom: 30px; }
  .more h2 {
    text-align: center; }
  .more p {
    text-align: center; } }

footer {
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 50px; }
  footer ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 30px; }
    footer ul::after {
      display: table;
      clear: both;
      content: ""; }
  footer li {
    padding-right: 20px;
    padding-left: 20px;
    float: left; }
    footer li a {
      font-size: 16px;
      color: #525252; }
    footer li:hover {
      color: #ff870f;
      text-decoration: underline; }
  footer p {
    font-size: 9px;
    color: #aeaeae; }

@media (max-width: 1200px) {
  .container {
    width: 960px;
    margin: auto; } }

@media (max-width: 960px) {
  .container {
    width: 720px;
    margin: auto; } }

@media (max-width: 720px) {
  .container {
    width: 320px;
    margin: auto; }
  .col-4 {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px; }
  .row {
    margin-top: -15px;
    margin-bottom: -15px; }
  footer li {
    padding-top: 10px;
    padding-bottom: 20px; } }
